@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100vh;
  background: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  display: flex;

  font-family: "Poppins", sans-serif;;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 58px;
}

p {
  font-size: 18px;
}

span {
  font-weight: 700;
  color: hsl(0, 100%, 74%);

}

.main {
  padding: 1rem 12rem;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100%;

  padding: 3rem 4rem 3rem 1rem;
  box-sizing: border-box;
}

.content p, .content h1 {
  color: white;
}

.sign-up {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  text-align: center;
  width: 45%;
  height: 100%;
}

.sign-up > p {
  background-color:  hsl(248, 32%, 49%);
  border-radius: 5px;
  padding: 1rem;
  color: white;
  font-size: 16px;
  filter: drop-shadow(0px 5px 0px #00000024);
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  text-align: start;

  background-color: #fff;
  padding: 2rem 1.75rem;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 3px #2727273d);
}

input {
  margin-top: 1rem;
  padding:  1rem;

  border: 1px solid #a0a0a0;
  border-radius: 5px;

  font-weight: 600;
}

.btn-submit {
  text-align: center;
}

.terms {
  font-size: 12px;
  color: #a0a0a0;
  margin: 0.2rem;
}

  .btn-submit > input {
  background-color: hsl(154, 59%, 51%);
  text-transform: uppercase;
  color: white;
  width: 100%;
  letter-spacing: 1px;
  margin-bottom: 0;
  transition: 0.3s ease-in-out;
}

.btn-submit > input:hover {
  background-color: hsl(154, 59%, 51%);
  filter: drop-shadow(0px 5px 0px #00000024);
}

form > input:nth-last-child(2):disabled {
  opacity: 0.5;
}

.input-error {
  border: 2px solid hsl(0, 100%, 74%);
}

.error {
  font-size: 14px;
  color: hsl(0, 100%, 74%);
  margin: 0;
}

.success {
  font-size: 16px;
  color: hsl(154, 59%, 51%)
}


@media screen and (max-width:880px){
  body {
    height: 100%;
  }
  .main {
    flex-direction: column;
  }

  .content, .sign-up {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  .content {
    text-align: center;
  }
  
}

@media screen and (max-width:440px){
  h1 {
    font-size: 42px;
  }
  .main {
    padding: 2rem 3rem;
  }

}


